// section client
.client__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.client__item {
  width: 210px;
  height: 92px;

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 92px;
  }
}

.client__link {
  transition: color $transitionDuration $transitionTimFunc,
    border $transitionDuration $transitionTimFunc;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: $iconColor;
  border: 1px solid $borderClientColor;
  &:hover,
  &:focus {
    color: $accentColor;
    border: 1px solid $borderClientCurrentColor;
  }
}

.client__icon {
  fill: currentColor;
}
