// footer form
.form {
  display: block;
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    margin-top: 20px;
  }
}

.form__input {
  width: 450px;

  padding: 15px 16px;
  background-color: $footerBgColor;
  border: 1px solid $borderInputFooter;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font: inherit;
  color: $accentWhiteColor;
  outline: none;
  transition: border $transitionDuration $transitionTimFunc;

  &:hover,
  &:focus {
    border: 1px solid $accentColor;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.form__btn {
  display: inline-flex;
  align-items: center;
  width: 200px;
  margin: 20px auto 0;

  @media screen and (min-width: 1200px) {
    margin: 0 0 0 12px;
  }
}

.form__icon {
  margin-left: 10px;
}
