// footer form
.form {
  display: flex;
  margin-top: 20px;
}

.form__input {
  width: 358px;

  padding: 15px 16px;
  background-color: $footerBgColor;
  border: 1px solid $borderInputFooter;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font: inherit;
  color: $accentWhiteColor;
  outline: none;
  transition: border $transitionDuration $transitionTimFunc;

  &:hover,
  &:focus {
    border: 1px solid $accentColor;
  }
}

.form__btn {
  display: inline-flex;
  align-items: center;
  margin-left: 12px;
}

.form__icon {
  margin-left: 10px;
}
