// header
.header {
  border-bottom: 1px solid $borderHeaderColor;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__list {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.menu__btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu__btn .menu__icon--close {
  display: none;
}

.menu__btn.is-open .menu__icon--close {
  display: block;
}

.menu__btn.is-open .menu__icon--open {
  display: none;
}

.menu__container {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;

  height: 796px;

  background-color: $primaryWhiteColor;
  padding: 50px 40px;
  text-align: center;

  &.is-open {
    display: block;
  }
}

.header__item {
  display: flex;
  padding: 0px;

  & + & {
    margin-left: 50px;
  }
}

.header__link {
  display: inline-flex;
  align-items: center;
  margin: 0px;

  color: $primaryTextColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $accentColor;
  }
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;
}
