// hero section
.hero {
  max-width: 1600px;
  max-height: 600px;

  padding: 118px 0;
  margin: 0 auto;

  background-color: $heroBgColor;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('/images/mob-hero1.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/images/mob-hero@2x.jpg');
  }
}

@media screen and (min-width: 489px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/images/tab-hero1.jpg');
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/images/tab-hero@2x.jpg');
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/images/desk-hero1.jpg');
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/images/desk-hero@2x.jpg');
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero__title {
  margin: 0 auto 30px;
  max-width: 360px;

  color: $primaryWhiteColor;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media (min-width: 768px) {
    max-width: 696px;

    font-size: 44px;
    line-height: 1.36;
  }
}
