.menu {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  @media screen and (min-width: 767px) {
    display: none;
  }
}
.menu__logo {
  display: block;
  margin: 16px auto 16px 15px;
  margin-right: auto;
  color: $logoTextColor;
  font-family: $secondaryFont;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  @media screen and (min-width: 767px) {
    display: none;
  }
}
.menu__btn {
  z-index: 1;
  display: inline-flex;
  margin-right: 15px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu__btn .menu__icon--close {
  display: none;
}

.menu__btn.is-open .menu__icon--close {
  display: block;
}

.menu__btn.is-open .menu__icon--open {
  display: none;
}

.menu__icon--close {
  fill: $titleTextColor;
  &:focus,
  &:hover {
    fill: $accentColor;
  }
}

.menu__icon--open {
  fill: $logoTextColor;
  &:focus,
  &:hover {
    fill: $accentColor;
  }
}

.menu__container {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 796px;
  transform: translateY(-40px);

  background-color: $primaryWhiteColor;
  padding: 50px 40px;

  text-align: left;

  &.is-open {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.menu__nav {
  display: contents;
  flex-direction: column;
}

.menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: $titleTextColor;
  &--current {
    color: $accentColor;
  }
}

.menu__item {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}

.menu__contatcts {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  margin-top: 302px;
  & .menu__link {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: $accentColor;
  }
  & .menu__link--mail {
    font-size: 24px;
    line-height: 1.17;
    color: $primaryTextColor;
  }
}

.menu__socials {
  display: flex;
  gap: 20px;

  & .menu__link {
    font-size: 18px;
    line-height: 1.22;
    color: $accentColor;
  }
}
