// buttons potfolio
.portfolio-buttons__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  row-gap: 15px;
  column-gap: 8px;
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}
