// section team
.team {
  background-color: $bgColor;
}
.team__item {
  display: block;

  width: 450px;
  height: 622px;
  background-color: $bgColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px v rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 767px) {
    height: 536px;
    --items: 2;
  }
  @media screen and (min-width: 1200px) {
    height: 428px;
    --items: 4;
  }
}

.team__group {
  padding: 30px 10px;

  background: $primaryWhiteColor;

  text-align: center;
}

.team__title {
  margin-bottom: 10px;

  color: $titleTextColor;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $primaryTextColor;
}
