// section work
.work {
  padding-top: 0;
}

.work__item {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.work__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: $workBgImage;
}
