body {
  margin: 0;
  color: $primaryTextColor;
  background-color: $primaryWhiteColor;
  font-family: $mainFont;
}

//  base styles

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0px;
  }
}

.section-title {
  margin-bottom: 30px;

  color: $titleTextColor;

  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.subtitle {
  color: $primaryWhiteColor;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
